@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    background: #FAFBFF;
}

.panel {
    position: relative;
    height: inherit;
    padding: 36px 28px 0;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}

.panel__logo_link {
    display: inline-block;
    position: relative;
}

.panel__logo_link::after {
    content: 'v.01';
    position: absolute;
    top: 19px;
    right: -20px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #838383;
}

.panel__menu {
    margin-top: 53px;
}

.panel__menu_link {
    display: inline-block;
    width: 250px;
    padding: 13px 8px 12px 49px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #9197B3;
    position: relative;
}

.panel__menu_link::before {
    content: '';
    /* color: #9197B3; */
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 11px;
}

.panel__menu_link.panel__menu_link_dashboard::before {
    background: url('../icons/key-square.svg');
}

.panel__menu_link.panel__menu_link_product::before {
    background: url('../icons/3d-square.svg');
}

.panel__menu_link.panel__menu_link_customers::before {
    background: url('../icons/user-square.svg');
}

.panel__menu_link.panel__menu_link_income::before {
    background: url('../icons/wallet-money.svg');
}

.panel__menu_link.panel__menu_link_promote::before {
    background: url('../icons/discount-shape.svg');
}

.panel__menu_link.panel__menu_link_help::before {
    background: url('../icons/message-question.svg');
}

.panel__menu_link::after {
    content: '';
    position: absolute;
    background: url('../icons/chevron-right.svg');
    height: 16px;
    width: 16px;
    top: 16px;
    right: 8px;
}

.panel__menu_link:hover {
    background-color: #5932EA;
    color: #fff;
}

.panel__user {
    position: fixed;
    bottom: 76px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.panel__user_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #000000;
}

.panel__user_position {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #757575;
}


/* display */

.display {
    padding: 41px 95px 258px 71px;
    width: 100%;
}

.display__content-box {
    padding: 30px 44px 40px 38px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    margin-top: 51px;
}

.display__greatings {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.display__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #000000;
}

.display__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #16C098;
    margin-top: 7px;
}

table {
    margin-top: 40px;
    width: 886px;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    padding-bottom: 14px;
    color: #B5B7C0;
}

tbody td, thead th{
    border-bottom: 1px solid #EEEEEE;
}

tbody td {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #292D32;
    padding: 20px 0;
}


.display__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.display__showing-data {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}

.display__dots {
    display: flex;
    gap: 12px;
}

.display__status {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    width: 80px;
    height: 29px;
    background: #FFC5C5;
    border: 1px solid #DF0404;
    color: #DF0404;
    border-radius: 4px;
}

.display__status_active {
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    color: #008767;
}